<section class="app-bar">
  <a href="">
    <img src="<%= image_path 'icons/1.svg' %>" alt="">
    <h4>Account Services</h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/2.svg' %>" alt="">
    <h4>Cashflow Forecast</h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/3.svg' %>" alt="">
    <h4>
      Investments
    </h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/4.svg' %>" alt="">
    <h4>
      Liquidity
    </h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/5.svg' %>" alt="">
    <h4>
      collections & recieve
    </h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/6.svg' %>" alt="">
    <h4>Payments</h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/7.svg' %>" alt="">
    <h4>
      Commercial Cards
    </h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/8.svg' %>" alt="">
    <h4>Trade</h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/9.svg' %>" alt="">
    <h4>Mini Dashboard</h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/10.svg' %>" alt="">
    <h4>Supply Chain Finance</h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/11.svg' %>" alt="">
    <h4>
      Reporting
    </h4>
  </a>
  <a href="">
    <img src="<%= image_path 'icons/12.svg' %>" alt="">
    <h4>
      Design Yours
    </h4>
  </a>
</section>