<section class="app-bar">
  <a href="">
    <img src="<%= image_path 'icons/1.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/2.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/3.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/4.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/5.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/6.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/7.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/8.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/9.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/10.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/11.svg' %>" alt="">
  </a>
  <a href="">
    <img src="<%= image_path 'icons/12.svg' %>" alt="">
  </a>
</section>