<table class="currency-table">
  <thead>
    <tr>
      <th class="hidden">1.62373</th>
      <th>
        <img src="<%= image_path 'flags/USD.png' %>" alt="">
      </th>
      <th>
        <img src="<%= image_path 'flags/CAD.png' %>" alt="">
      </th>
      <th>
        <img src="<%= image_path 'flags/GBP.png' %>" alt="">
      </th>
      <th>
        <img src="<%= image_path 'flags/AED.png' %>" alt="">
      </th>
      <th>
        <img src="<%= image_path 'flags/EUR.png' %>" alt="">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="<%= image_path 'flags/GBP.png' %>" alt="">
      </td>
      <td>
        1.62373
      </td>
      <td>
        1.79272
      </td>
      <td class="transparent">
        1.00000
      </td>
      <td>
        1.10655
      </td>
      <td>
        0.77265
      </td>
    </tr>
    <tr>
      <td>
        <img src="<%= image_path 'flags/CAD.png' %>" alt="">
      </td>
      <td>
        0.90574
      </td>
      <td class="transparent">
        1.00000
      </td>
      <td>
        0.55781
      </td>
      <td>
        1.00224
      </td>
      <td>
        0.69981
      </td>
    </tr>
    <tr>
      <td>
        <img src="<%= image_path 'flags/USD.png' %>" alt="">
      </td>
      <td class="transparent">
        1.00000
      </td>
      <td>
        1.10407
      </td>
      <td>
        0.61587
      </td>
      <td>
        1.10655
      </td>
      <td>
        0.77265
      </td>
    </tr>
    <tr>
      <td>
        <img src="<%= image_path 'flags/AED.png' %>" alt="">
      </td>
      <td>
        0.90371
      </td>
      <td>
        0.99777
      </td>
      <td>
        0.55657
      </td>
      <td class="transparent">
        1.00000
      </td>
      <td>
        0.69825
      </td>
    </tr>
    <tr>
      <td>
        <img src="<%= image_path 'flags/EUR.png' %>" alt="">
      </td>
      <td>
        1.29425
      </td>
      <td>
        1.42895
      </td>
      <td>
        0.79709
      </td>
      <td>
        1.43215
      </td>
      <td class="transparent">
        1.00000
      </td>
    </tr>
  </tbody>
</table>