<div class="app-padding">
  <div class="col-5">
    <%= partial(:'partials/accounts_summary') %>
    <div class="payment-spikes">
      <h3 class="yellow-text">
        Payment "Spike"
      </h3>
      <ul class="payment-spike-list">
        <li>
          <h3>
            Payment to Vendor #1234 for $110,050.25
          </h3>
          <h4>Processed: <span>20/09/2014</span></h4>
          <h4>Approved: <span>21/09/2014</span></h4>
          <h4>Recieved: <span>22/09/2014</span></h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="half">
    <div class="alerts">
      <div class="alert-notify">
        <h3 class="red-text">7 Alerts</h3>
        <a href="#" class="view-more" data-ignore="true">
          View More
        </a>
      </div>
      <ul class="alert-lists">
        <a href="#" data-ignore="true">
          <li class="red">
            <h3>
              2 Payments awaiting approval
            </h3>
          </li>
        </a>

        <a href="#" data-ignore="true">
          <li class="red">
            <h3>
              3 invoices PMT due
            </h3>
          </li>
        </a>
        <% unless @transfer %>
          <a href="/payment_research">
            <li class="im-block has-action">
              <div class="im-photo">
                <div class="small-user-container">
                  <img class="person-image" src="<%= image_path 'susan.jpg' %>" alt="">
                </div>
              </div>

              <div class="im-content">
                <h4>
                  <b>
                    Message from Susan:
                  </b>
                </h4>
                <p>
                  Why is there excess cash in the AED operating account?
                </p>
              </div>
              <div class="im-time">
                Today 06:05
              </div>
              <div class="im-action">
                RECOMMENDED ACTION: RESEARCH PAYMENTS
                <div class="reply">Reply</div>
              </div>
            </li>
          </a>
        <% end %>
        <% if @transfer == 'transfer' %>
          <a href="/payment_transfer">
            <li class="im-block has-action">
              <div class="im-photo">
                <div class="small-user-container">
                  <img class="person-image" src="<%= image_path 'susan.jpg' %>" alt="">
                </div>
              </div>
              <div class="im-content">
                <h4>
                  <b>
                    Message to Robert:
                  </b>
                </h4>
                <p>
                  Ok, move $10,000.00 to the overnight sweep account
                </p>
              </div>
              <div class="im-time">
                Today 08:05
              </div>
              <div class="im-action">
                RECOMMENDED ACTION: MAKE TRANSFER
                <div class="reply">Reply</div>
              </div>
            </li>
          </a>
           <a href="/payment_research">
            <li class="im-block has-action reply-block">
              <div class="im-photo">
                <div class="small-user-container">
                  <img class="person-image" src="<%= image_path 'susan.jpg' %>" alt="">
                </div>
              </div>

              <div class="im-content">
                <h4>
                  <b>
                    Message to Robert:
                  </b>
                </h4>
                <p>
                  Why is there excess cash in the AED operating account?
                </p>
              </div>
              <div class="im-time">
                Today 06:05
              </div>
              <div class="im-action">
                <b>YOU REPLIED: </b> "We had an early payment from client ABC." (Today 08:01)
                <div class="reply" id="hide-message">Hide this</div>
              </div>
            </li>
          </a>
        <% end %>
      </ul>
    </div>
  </div>
  <%= partial(:'partials/dashboards_bg') %>
  <%= partial(:'partials/robert') %>
  <%= partial(:'partials/app_bar') %>
</div>