<div class="blur-wrapper">
  <div class="top-nav">
  <h4 class="left">
    My Alerts
  </h4>
  <a href="/susan" class="right">
    <h4>
      < Return to Dashboard
    </h4>
  </a>
  </div>

  <ul class="alert-lists big">
    <li class="red">
      <h3>
        Car Sales down in Q3
      </h3>
      <span class="red-text">
        Cashflow impact possibility: 74%
      </span>
    </li>
  </ul>

  <div class="alert-recommendation">
    <div class="description">
      <p>
        High risk that car manufacturers (clients: Ford and GM) will delay
        supplier payments
      </p>
      <p class="yellow-text">
        Cashflow impact possibility: 74%
      </p>
    </div>
    <div class="recommendation-options">
      <h3>
        5 Recommendations
      </h3>
      <ul class="recommendation-blocks">
        <li>
          <a href="#" id="rec-0" class="active" data-ignore="true">
            <h4>Do nothing</h4>
          </a>
        </li>
        <li>
          <a href="#" id="rec-1" data-ignore="true">
            <h4>
              Apply alternative business plan 1234
            </h4>
          </a>
        </li>
        <li>
          <a href="#" id="rec-2" data-ignore="true">
            <h4>
              Restructure sweep:
                  attach CAD account 000000000109 ($724,266.06) to USD account
                  000000000110  ($12,794.31)
            </h4>
          </a>
        </li>
        <li>
          <a href="#" id="rec-3" data-ignore="true">
            <h4>
              Extend loan repayment - from 60 months (current) to 90 months –
                   $2,023.02 additional interest
            </h4>
          </a>
        </li>
        <li>
          <a href="#" id="rec-4" data-ignore="true">
            <h4>
               Change payment terms: if invoices paid > 5 days early, can  discount
                10% from invoice
            </h4>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="alert-detail">
    <%= partial(:'partials/recs/rec_0') %>
    <%= partial(:'partials/recs/rec_1') %>
    <%= partial(:'partials/recs/rec_2') %>
  </div>

  <%= partial(:'partials/dashboards_bg') %>
  <%= partial(:'partials/susan') %>
</div>

<%= partial(:'partials/take_rec_modal') %>