<!DOCTYPE html>
<!-- change itemtype https://developers.google.com/+/web/snippet/ -->
<html lang="en" itemscope itemtype="[google-item-type]">
<head>
  <meta charset="utf-8">
  <title>The ONYX Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><meta name="description" content="">
  <meta name="author" content="">

  <%= partial(:'partials/social/social_meta') %>
  <!-- 
  <script type="text/javascript" src="//use.typekit.net/afm5tip.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   -->
  <%= stylesheet_tag 'application' %>
  <%= javascript_tag 'libs' %>
  <%= javascript_tag 'application' %>
</head>

<body>
  <div class="application">
    <%= yield %>
    <div class="flash"></div>
  </div>
  
  <div class="background">
    <div class="left-animated-dots"></div>
    <div class="right-animated-dots"></div>
    <div class="tech-lines"></div>  
  </div>
  
</body>